[submodule "src/htslib"]
	path = src/htslib
	url = https://github.com/samtools/htslib
[submodule "src/mlat"]
	path = src/mlat
	url = https://github.com/djhshih/mlat
[submodule "src/alglib"]
	path = src/alglib
	url = https://github.com/georgehodgkins/ALGLIB.git
[submodule "src/seqan"]
	path = src/seqan
	url = https://github.com/seqan/seqan.git
